* {
  box-sizing: border-box;
}
:root {
  font-size: min(calc(1em + 1vw), 4em);
}
body {
  min-height: 100vh;
  font-family: sans-serif;
}
body > * {
  min-height: 1em;
}
header {
  background: dodgerblue;
}
header > h1 {
  margin: 0;
}
nav {
  background: hotpink;
}
main {
  background: gold;
}
footer {
  background: rgb(37, 37, 37);
  color: white;
}
